<mat-card-content>
  <form [formGroup]="profileForm" class="form-container">
    <mat-card>

      <mat-card-header>
        <mat-card-title class="titleLogin">Login</mat-card-title>
      </mat-card-header>
      <mat-card-content class="contentCard">
        <div class="row">

          <div>
            <mat-form-field class="full-width">
              <mat-label>Introduza o seu username</mat-label>
              <input type="text" formControlName="email" matInput placeholder="Introduza o seu username">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="full-width">
              <mat-label>Introduza a sua password</mat-label>
              <input type="password" formControlName="password" matInput placeholder="Introduza a sua password">
            </mat-form-field>

          </div>
          <mat-card-actions>
            <button type="button" [disabled]="!profileForm.valid" (click)="login()" mat-raised-button  class="ButtonSaver">Login</button>

          </mat-card-actions>
          <mat-card-actions>
            <button (click)="routerForm()" mat-raised-button class="ButtonCreater">Registar Nova
              Conta</button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</mat-card-content>